/* buttons */
.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  padding: 2rem 3rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}
.btn--primary {
  background: var(--color-primary);
  color: #fff;
}
.btn--primary:hover {
  background: #3a8ffd;
}
.btn--outline {
  background-color: #fff;
  border: 2px solid var(--color-headings);
  color: var(--color-headings);
}
.btn--outline:hover {
  background-color: var(--color-headings);
  color: #fff;
  border: none;
}
.btn--secondary {
  background: var(--color-secondary);
  color: #fff;
}
.btn--secondary:hover {
  background-color: #00c8eb;
}
.btn--accent {
  background-color: var(--color-accent);
  color: #fff;
}
.btn-accent:hover {
  background-color: #ec3000;
}
.btn--block {
  width: 100%;
  display: inline-block;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}
